{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: t.caption
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body" data-testid="admin-officer">
        {{ t.signedInPrefix }} {{ session.name }} ({{ session.roles | join(", ") }}).
      </p>
      {# Account link + sign-out live in the header account block (page.njk). #}
      <p class="govuk-body">{{ t.placeholder }}</p>
    </div>
  </div>

{% endblock %}
