{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: t.caption
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        {% if session.isAuthenticated %}
          <p>{{ t.signedInPrefix }} <strong>{{ session.name }}</strong> ({{ session.roleLabel or session.role }}).</p>
          <p>
            <a class="govuk-link" href="/auth/account">{{ t.viewAccount }}</a>
            {{ t.or }} <a class="govuk-link" href="/auth/sign-out">{{ t.signOut }}</a>.
          </p>
        {% else %}
          <p>{{ t.signedOutIntro }}</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="/auth/entra/sign-in" data-testid="home-staff-sign-in">{{ t.caseOfficerLink }}</a></li>
            <li class="app-option--disabled" data-testid="home-applicant-unavailable" aria-disabled="true">{{ t.applicantLink }}</li>
          </ul>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
